Система управления расписанием университета
-------------------------------------------------------------------------------

- добавление языка преподавания
- добавление типа пары (обязательная, доп. курс и т. д.)
- добавление корпуса
    - адрес
    - название
- добавление типа контроля
- добавление нового предмета в систему
    - сколько читается
    - тип контроля
    - элективы
- добавление преподавателя в систему
    - ФИО преподавателя, должность, ученая степень, e-mail, discord
- добавление причины переноса пары
- добавление группы в систему
    - номер
    - год
    - направление

- удаление предмета из системы
    - если предмет используется в расписании, то удаление запрещено
- удаление преподавателя из системы
    - если преподаватель используется в расписании, то удаление запрещено
- удаление причины переноса

- получение всех предметов
- получение всех преподавателей
- получение всех групп
- получение всех типов контроля
- получение всех причин переноса

- получение времени занятия по номеру
- получение времени перемены по номеру
- получение времени большой перемены
- получение номера занятия по времени
- добавление занятия на определенную дату по определенному предмету
  с определенным преподавателем
    - дистанционно или очно
    - лекция или семинар
    - тип электива (если есть)
    - корпус
    - тип пары
    - язык преподавания
- перенос пары с указанием причины

- получение по группе и предмету состояни прохождения курса
    - число завершенных занятий
    - число оставшихся занятий
    - процент завершенности

- получение по дате и группе списка пар на эту дату

- *экспорт в csv
- *импорт из csv
- *экспорт в json
- *импорт из json
